<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Email</label><br>
        <input type="email" name="email"><br>
        <label>Age</label><br>
        <input type="text" name="age"><br>
        <label>Address</label><br>
        <input type="text" name="address"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>